<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<<body background="/images/fade-background.jpg">>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="https://www.qrz.com/db/k4kdr/">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
	        	<li><a href="mailto:scott23192@gmail.com">email K4KDR</a></li>
	        	<br><br>
	        	<li><a href="https://twitter.com/scott23192">K4KDR Twitter:  @scott23192</a></li>
			</ul>
		</footer>
	</body>
</html>
